.select-coin-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin: 1.5rem 3rem;
    flex-wrap: wrap;
  }
  

.coins-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin:0rem 1.5rem;
}